@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
}
body{
    background: 
    radial-gradient(50vw at bottom left, #B92C00,transparent) bottom left,
    radial-gradient(50vw at top right, #0052CE,transparent)top right,
    #000C29
    ;
    
    margin-bottom: 0;
}
.container{
    margin: 1rem;
    text-align: center;
}
.nav{
    background-color: #021d34;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1.25rem;

}

.nav ul{
    justify-content: justify;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    
}
.site-title{
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
}
.nav li.active{
    background-color: white;
    color: #021d34;
}

.nav li:hover{
    background-color: #012e46;
    color: white;
}
.nav li.active:hover{
    background-color: white;
    color: #021d34;
}
.info{
    border: none;
    border-radius: 25px;
    text-align: justify;
    margin: auto;
   width: fit-content;
    height: 100vh;
    justify-content: center;}
.info h1{

    padding-left:10% ;
    font-family:'Poppins';
    font-size: 8vmin;
    color: white;
}

.info ul{
    padding: 0;
    list-style: none;
    gap: 0rem;
    font-family:'Poppins';
    font-size: 1rem;
    color: white;
}
.info li{
    margin-bottom: 3rem;
    align-items: center;
    display: flex;
    

}
.info a{
    color: inherit;
    
}

footer{
    margin-bottom: 0;
    background-color: #e9e9e9;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #6b6b6b;
    height: 4rem;
    font-size: 20px;
}
.footertext{
    padding: 1rem;
}
.principal{
    border: none;
    border-radius: 25px;
    margin:auto;
    padding-top:10vh ;
    width: 90vmin;
    padding-left: 1rem;
    padding-right: 1rem;
}
.PPORTRAIT{
    display: flex;
    align-items: center;
}
.portrait{
    margin: 1rem;
    width: 20vh;
    height: auto;
    border-radius: 10px;
}
.principal h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.principal p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.todo{
    padding-bottom: 3rem;
    min-height: 100vh;
}
.data{
    align-content: center;
    text-align: center;
}
.data ul{
    padding-left: 35vw;
    padding-bottom: 1rem;
    text-align: left;
    list-style:none;
    color:white;
}

#habilidades{
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    width: 75vmin;
    border:none;
    height: 3rem;
    background-color: #ffffff42;
    font-size: 2.7vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    -webkit-transition: height 0.5s;
}
#habilidades:hover{
    height: 5rem;
    transition: height 0.5s ease-in-out;
}
#intereses{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 75vmin;
    border:none;
    height: 3rem;
    background-color: #ffffff42;
    font-size: 2.7vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    -webkit-transition: height 0.5s;
}
#intereses:hover{
    height: 5rem;
    transition: height 0.5s ease-in-out;
}
#experiencia{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 75vmin;
    border:none;
    height: 3rem;
    background-color: #ffffff42;
    font-size: 2.7vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    -webkit-transition: height 0.5s;
}
#experiencia:hover{
    height: 5rem;
    transition: height 0.5s ease-in-out;
}

#logo{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 5vh;
    right: 15vw;
    border-radius: 15px;
    color: #FFFFFF;
    -webkit-transition: box-shadow 0.3s;

}
#logo:hover{
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0px 0px 15px white;

}
#avatar{
    width: 20vw;
    height: auto;
    position: absolute;
    top: 20%;
    right: 30%;
    z-index: -1;
}
.appPage{
    margin-bottom: 0;
    min-height: 100vh;
}
.App{
    margin-bottom: 0;
    text-align: center;
    margin: auto;
    width: 80vmin;
    margin-bottom: 5rem;
    padding-top:15vh ;
}
#paragraph{
    max-width: 600px;
}
.textnBtn{
    width: 100%;
    position: absolute;
    bottom: 0;
}
#todo-input{
    width: 85%;
    color: white;
    background-color: #000C29;
    border-radius: 1rem;
    border: 1px solid #94b8d7;
    outline: none;
    padding-left: 10px;
    margin-bottom: auto;
    font-size: 20px;
    height: 40px;
    
}

.add-btn{
    border: 1px solid #94b8d7;
    background-color: #31D55A;
    color: white;
    border-radius: 25px;
    width:10%;
    max-width: 40px;
    font-size: 20px;
    height: 40px;
    margin-bottom: 0.5rem;
    margin-left: 5px;
    -webkit-transition: box-shadow 0.3s;

}
.add-btn:hover{
    transition: box-shadow 0.3s ease;
    box-shadow: 0px 0px 15px #31D55A;
}


.all-btn{
    width: 100%;
    font-size: 3rem;
    border: none;
    background-color: #ffffff00;
    border-radius: 25px;
    margin: 0.1rem;

    -webkit-transition: background-color 0.3s;

}
.all-btn:hover{
    transition: background-color ease-in-out 0.3s;
    background-color: #0c85fe76;
}
#checkbb{
    transition: background-color ease-in-out 0.4s;
}
.all-btn-active{
    width: 100%;
    font-size: 3rem;
    border: none;
    border-radius: 25px;
    background-color: #0C84FE;
    margin: 0.1rem;
}
.done-btn{
    width: 100%;
    font-size: 3rem;
    border: none;
    background-color: #ffffff00;
    border-radius: 25px;
    margin: 0.1rem;

    -webkit-transition: background-color 0.3s;
}
.done-btn:hover{
    transition: background-color ease-in-out 0.3s;
    background-color: rgba(0, 128, 0, 0.406);
}
.done-btn-active{
    width: 100%;
    font-size: 3rem;
    border: none;
    border-radius: 25px;
    background-color: green;
    margin: 0.1rem;
}
.pending-btn{
    width: 100%;
    font-size: 3rem;
    border: none;
    background-color: #ffffff00;
    border-radius: 25px;
    margin: 0.1rem;
    -webkit-transition: background-color 0.3s;

}
.pending-btn:hover{
    transition: background-color ease-in-out 0.3s;
    background-color: #e9780052;
}
.pending-btn-active{
    width: 100%;
    font-size: 3rem;
    border: none;
    border-radius: 25px;
    background-color: #e97900;
    margin: 0.1rem;
}
.filter-div{
    word-wrap: break-word;
    width: 30%;
    padding-right: 1rem;
}
.filters{
    display: inline-flex;
    align-items: auto;
    justify-content: space-evenly;
}
.inputArea{
    color:white;
}
.chat{
    height: 200px;
    width: 70%;
    min-width: 300px;
    background-color: black;
    border: solid #141414 1px;
    border-radius: 25px;
    margin: auto;
    position: relative;
}
.text1 {
    font-size: 1.3rem;
    color: white;
    background: #0C84FE;
    position: absolute; /* Setup a relative container for our psuedo elements */
    max-width: 70%;

    margin-top: 10px;
    margin-left: 15px;
    padding: 10px;
    padding-left: 15px;
    line-height: 24px;
    word-wrap: break-word; /* Make sure the text wraps to multiple lines if long */
    border-radius: 25px;
  
    &:before {
        width: 20px;
        background-color: #0C84FE; /* All tails have the same bg cutout */
        left: -7px;
        border-bottom-right-radius: 16px 14px;
        border-top-left-radius: 16px 25px;


      }
      &:before{
        position: absolute;
        bottom: 0;
        height: 25px; /* height of our bubble "tail" - should match the border-radius above */
        content: '';
      }
    
  }
  
.do-list{
    
    margin-left:3vw;
    list-style: none;
    gap: 0rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    align-content: center;
    text-align: center;
    
}
.liTask{
   
}
.do-label{
    font-size: 25px;
    color: white;
    max-width: 80%;
    word-wrap: break-word;
    text-align: justify;
    
}
.firstline{
    margin-left: auto;
    align-items: center;
    display: flex;
    position: relative;
}
.secondLine{
    margin:auto;
    display: inline-flex;
    align-items: center;
    margin-bottom: 1rem;
}
  .liTask{
    margin-bottom: 0.1rem;
  }
  .dwn-btn1{
    color:white;
    background-color: #00000000;
    font-size: 25px;
    width: 50px;
    padding: auto;
    border: none;
    border-radius: 15px;
    padding: 5px;
    margin-right: 1rem;
    -webkit-transition: background-color 0.3s;

  }
  .dwn-btn2{
    color:white;
    background-color: #00000000;
    font-size: 25px;
    width: 50px;
    padding: auto;
    border: none;
    border-radius: 15px;;
    padding: 5px;
    -webkit-transition: background-color 0.3s;

}
.dwn-btn1:hover{
    transition: background-color 0.3s ease-in-out;
    background-color: red;
}
.dwn-btn2:hover{
    transition: background-color 0.3s ease-in-out;
    background-color: #d79300;
}
.home{
    margin-bottom: 0;
    font-family:'Poppins';
    min-height: 100vh;
    width: auto;
}


.justificacion{
    width: 80vmin;
    background-color: #557996;
    
    margin-top: 3rem;
    margin-bottom: 2rem;
    padding: 2rem;
    font-size: 20px;
    margin:auto;

}
.todoapp{
    width: 80vmin;
    background-color: #7498b6;
    
    margin-bottom: 2rem;
    padding: 2rem;
    font-size: 20px;
    margin:auto;
}
.box1{
    margin:auto;
    width: auto;
    padding-left: 10%;
    padding-top: 2%;
}
.homeHeader{
    border-radius: 10px;
    padding: auto;
    margin-top: 3rem;
}
.homeHeader h1{
    color:white;
    font-size: 5rem; 
}
.homeHeader h2{
    color:white;    
}
.homeHeader h3{
    color:white;   
    font-size: 1rem; 
}
.sites{
    width: 30%;
    min-width: 300px;
    margin-top: 2%;  
}
#plogo1{
    width: 6rem;
    background-color: #ffffff7e;
    border-radius: 25px;
    padding-top:12.5px;
    padding-bottom:12.5px;
    margin-right: 5vw;
    transition: box-shadow 0.1s ease-in-out;

}
#plogo1:hover{
    transition: box-shadow 0.1s ease-in-out;
    box-shadow: 0px 0px 15px white;
}
#plogo2{
    width: 6rem;
    border-radius: 25px;
    transition: box-shadow 0.1s ease-in-out;

}
#plogo2:hover{
    transition: box-shadow 0.1s ease-in-out;
    box-shadow: 0px 0px 15px white;
}
.botones{
    width: auto;
    margin-top: 5%;  
}
.getbtn1{
    background-color: #1E2947;
    color: white;
    font-size: 1.5rem;
    border-radius: 30px;
    border: none;
    padding: 0.5rem;
    margin-right: 2rem;
    -webkit-transition: box-shadow 0.3s;
    width: 15%;
    min-width: 155px;

}
.getbtn1:hover{
    transition: box-shadow 0.1s ease-in-out;
    box-shadow: 0px 0px 15px white;
}
.getbtn2{
    background-color: #0041a200;
    color: white;
    font-size: 1.5rem;
    border: 1px solid white;    
    border-radius: 30px;
    padding: 0.5rem;
    -webkit-transition: box-shadow 0.3s;
    width: 17%;
    min-width: 155px;
}
.getbtn2:hover{
    transition: box-shadow 0.1s ease-in-out;
    box-shadow: 0px 0px 15px white;
}
.iconos{
    margin-top: 5%;
    align-items: auto;
}
.iconbtn{
    border: none;
    background-color: transparent;
    padding-top: 1rem;
    padding-right: 5vw;
}
.icon:hover{
    transition: box-shadow 0.1s ease-in-out;
    box-shadow: 0px 0px 15px white;
}
.icon{
    background-color: #ffffff1f;
    border-radius: 50px;
    padding: 1rem;
    width: 4rem;
    font-size: 4rem;
    -webkit-transition: box-shadow 0.3s;

}
#task{
    background-color: #ffffff49;
    border-radius: 15px;
    max-width: 85%;
    margin: auto;
    margin-bottom: 25px;
}
.checkbb{
    position: absolute;
    margin-top:30px;
    margin-right:25px;
    margin-left:25px;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
}
#ulstyle{
    display: inline;
}